*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    background:#fff;

    color:#0f1419;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    font-family:inherit;

}

input{

    font-family:inherit;

}

textarea{

    font-family:inherit;

}