.profile {
    background-color: red !important;
    min-height: 100vh !important;
    width: 100% !important;
}

.profile::before {
    content: "PROFILE CSS TEST";
    display: block;
    background: lime !important;
    color: black !important;
    font-size: 40px !important;
    padding: 20px !important;
}